<div class="container">
  <div class="row">
    <div class="col-sm-5.col-sm-offset-2">
      <%= high_chart("requirements_chart", @requirements.assessment_chart_for(current_user)) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center"><%= link_to "Share with QSA", {format: :pdf}, class: "btn btn-default" %></p>
    </div>
  </div><!-- .row-->
</div>
<section id="requirements" class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="timeline">
      <% @requirements.each do |requirement| %>
        <% if proof = requirement.proof_for(current_user) %>
        <li class="resolved pulse-container">
        <% else %>
        <li class="unresolved pulse-container">
        <% end %>
          <aside>
            <span data-role="requirement">
              <%= requirement.name %>
            </span>
          </aside>
          <div class="timeline-icon pulse">
            <i class="fa"></i>
          </div>
          <div class="timeline-content">
            <h3 class="objective">
              Objective
              <small class="timeline-due">in 15 days</small>
            </h3>
            <blockquote class="objective">
              <p class="lead"><%= markdown requirement.testing_procedure %></p>
            </blockquote>

            <br>

            <div class="row">
              <div class="col-md-12">
                <div class="panel-group" id="accordion-<%= requirement.dashed_name %>">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-<%= requirement.dashed_name %>" href="#collapse-<%= requirement.dashed_name %>-description">
                          Requirement
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-<%= requirement.dashed_name %>-description" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p class="lead"><%= markdown requirement.description %></p>
                      </div>
                    </div>
                  </div><!-- .panel-->

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-<%= requirement.dashed_name %>" href="#collapse-<%= requirement.dashed_name %>-guidance">
                          Guidance
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-<%= requirement.dashed_name %>-guidance" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p class="lead"><%= markdown requirement.guidance %></p>
                      </div>
                    </div>
                  </div><!-- .panel-->

                  <% if proof %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-<%= requirement.dashed_name %>" href="#collapse-<%= requirement.dashed_name %>-history">
                          Evidence history/revisions
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-<%= requirement.dashed_name %>-history" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Updated <%= time_ago_in_words(proof.updated_at) %> ago</p>
                      </div>
                    </div>
                  </div><!-- .panel-->
                  <% end %>

                </div>
              </div>
            </div><!--.row-->

            <br>

            <div class="row">
              <div class="col-md-12">
              <% if proof %>
                <%= link_to "upload/update evidence",
                    edit_proof_path(proof),
                    class: "btn btn-embossed btn-block btn-hg btn-primary",
                    title: "Update proof for #{requirement.name}" %>
              <% else %>
                <%= link_to "upload/update evidence",
                    new_requirement_proof_path(requirement),
                    class: "btn btn-embossed btn-block btn-hg btn-primary",
                    title: "Attach proof for #{requirement.name}" %>
                <% end %>
              </div>
            </div><!-- .row -->

            <br>
            <br>

            <div class="row" data-role="<%= requirement.name %>-proof">
              <% if proof %>
              <div class="col-md-6">
                <h6>Screenshot of Evidence</h6>
                <p><%= screenshot_for(requirement) %></p>
              </div>
              <div class="col-md-6">
                <h6>Note (for your QSA)</h6>
                <%= proof.note %>
              </div>
              <% end -%>
            </div><!-- .row -->

          </div>
        </li>
      <% end %>
      </ul>
    </div><!-- .col-md-12 -->
  </div><!-- .row -->
</section>

<div class="row">
  <div class="col-md-12">
    <h3>Getting started: </h3>
    <p>Attach a screenshot showing how you meet the PCI requirements (e.g. network diagram), then receive reminders to update requirements!</p>
  </div>
</div>
