<div class="container">
  <div class="row">
    <div class="col-sm-5.col-sm-offset-2">
      <%= high_chart("requirements_chart", @requirements.fulfillment_chart_for(current_user)) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Getting started: </h3>
      <p>Attach a screenshot showing how you meet the PCI requirements (e.g. network diagram), then receive reminders to update requirements!</p>
      <div class="panel panel-info">
        <div class="panel-heading">
          Requirements
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-3">Description</th>
              <th class="col-md-4">Note</th>
              <th class="col-md-4">Proof</th>
            </tr>
          </thead>
          <% @requirements.each do |requirement| %>
          <tbody>
            <tr>
              <td data-role="requirement">
                <%= requirement.name %>
              </td>
              <td>
                <%= markdown(requirement.description) %>
              </td>
              <td>

              </td>
              <td data-role="<%= requirement.name %>-proof">
                <% if requirement.proof_for(current_user) %>
                  <div>
                    <%= link_to "Update proof",
                        edit_proof_path(requirement.proof_for(current_user)),
                        title: "Update proof for #{requirement.name}" %>
                    <%= img_of_proof_for(requirement) %>
                  </div>
                <% else %>
                  <div>
                    <%= link_to "Attach proof",
                        new_requirement_proof_path(requirement),
                        class: "btn btn-success btn-xs",
                        title: "Attach proof for #{requirement.name}" %>
                  </div>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
