<div class="container">
  <div class="row">
    <%= simple_form_for(@proof, role: "form") do |form| %>
    <%= form.error_notification %>
    <div class="col-md-7">
      <h3>Objective <%= @proof.requirement.name %></h3>
      <p><%= markdown(@proof.requirement.testing_procedure) %></p>
    </div>
  </div><!--.row-->

  <div class="row">
    <div class="col-md-7">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Requirement
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="lead"><%= markdown(@proof.requirement.description) %></p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Guidance
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="lead"><%= markdown(@proof.requirement.guidance) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--.row-->

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <h6>Note (for your QSA)</h6>
        <%= form.input :note,
            as: :text,
            label: false,
            placeholder: "Share some details about how you meet this requirement with your QSA",
            input_html: { rows: 6, class: "col-md-8" } %>
      </div>
    </div>
    <div class="col-md-1">
      <h6>
        Add
      </h6>
      <div>
        <%= form.filepicker_field :filepicker_url,
            services: "COMPUTER",
            extensions: ".png,.jpg",
            button_class: "btn btn-default",
            button_text: "Screenshot" %>
      </div>
    </div>
  </div><!--.row-->
<br>
  <div class="row">
    <div class="col-md-8">
      <h6>Screenshot of Evidence</h6>
      <% if form.object.errors.any? %>
        <div class="panel panel-danger" id="error_explanation">
          <div class="panel-heading">
            <%= pluralize(form.object.errors.count, "error") %> prohibited
            this post from being saved:
          </div>
          <div class="panel-body">
            <ol>
              <% form.object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </div>
      <% end %>
      <%= render 'current_proof_image',
          requirement: @proof.requirement,
          proof: @proof,
          placeholder: true %>
      <small>Updated <%= time_ago_in_words(@proof.updated_at) %> ago</small>
    </div>
    <div class="col-md-4">
      <%= form.button :submit, "Submit Evidence!",
          class: "btn btn-embossed btn-block btn-hg btn-primary" %>
    </div>
    <% end %>
  </div><!--.row-->
</div><!--.container-->
