<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li data-role="current-user">
    <%= link_to "How's it going, #{current_user.name}", edit_user_path(current_user), title: "Update your profile" %>
  </li>
  <li>
    <%= link_to "PCI Assessment", requirements_path %>
  </li>
  <li>
    <%= link_to "Forum", "http://discuss.compliancechimp.com" %>
  </li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', signout_path %></li>
<% else %>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">Forum</a></li>
  <li><a href="#">Find a QSA</a></li>
  <li>
    <%= button_to 'login/register',
        signin_path,
        class: "btn btn-default navbar-btn" %>
  </li>
<% end %>
