<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li data-role="current-user">
    <%= link_to "How's it going, #{current_user.name}", edit_user_path(current_user), title: "Update your profile" %>
  </li>
  <li>
    <%= link_to "Checklist", requirements_path %>
  </li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', signout_path %></li>
<% else %>
  <li>
    <%= link_to 'About', page_path('about') %>
  </li>
  <li>
    <%= button_to 'login/register',
        signin_path,
        class: "btn btn-default navbar-btn" %>
  </li>
<% end %>
